* {
	padding: 0;
	margin: 0;
}

body{
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	position: absolute;
}


.datos{
	position: absolute;
	margin-top: 6%;
    box-shadow: 0 32px 64px 0 rgba(0, 0, 0, 0.5);
    border-radius: 0.5rem;
    font-style: normal;
	background-color: white;
	width: 70%;
	left: 17%;
	margin-bottom: 2%;
	height: auto%;
}

.row{
	margin: 2%;
}

.container{
	height: 100%;
}


.menu {
	position: fixed;
	height: 6%;
	width: 100%;
	z-index: 2;
}

.menu #navegacion {
	float: right;
	margin-right: 2%;
	margin-top: 2%;
	cursor: pointer;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.mat-row:nth-child(even){
	background-color: rgba(0,0,0,.05);
}
