<nav id="barra">
  <ul>
    <li><a routerLink="/informacion-general" id="menu-informacion-general"><i class="fas fa-user"></i></a></li>
    <li><a routerLink="/formacion-academica" id="menu-formacion-academica"><i class="fas fa-graduation-cap"></i></a></li>
    <li><a routerLink="/capacitacion-docente" id="menu-capacitacion-docente"><i class="fas fa-university"></i></a></li>
    <li><a routerLink="/actualizacion-disciplinar" id="menu-actualizacion-disciplinar"><i class="fas fa-pencil-alt"></i></a></li>
    <li><a routerLink="/puesto-academico" id="menu-puesto-academico"><i class="fas fa-briefcase"></i></a></li>
    <li><a routerLink="/productos-academicos" id="menu-productos-academicos"><i class="fas fa-book"></i></a></li>
    <li><a routerLink="/experiencia-profesional" id="menu-experiencia-profesional"><i class="fas fa-building"></i></a></li>
    <li><a routerLink="/experiencia-disenio-ingenieril" id="menu-experiencia-disenio-ing"><i class="fas fa-wrench"></i></a></li>
    <li><a routerLink="/logros-profesionales" id="menu-logros-profesionales"><i class="fas fa-address-card"></i></a></li>
    <li><a routerLink="/participaciones-org-profesionales" id="menu-participaciones-org-profesionales"><i class="fas fa-star"></i></a></li>
    <li><a routerLink="/premios-reconocimientos" id="menu-premios-reconocimientos"><i class="fas fa-industry"></i></a></li>
    <li><a routerLink="/participaciones-plan-estudios" id="menu-participaciones-plan-estudios"><i class="fas fa-trophy"></i></a></li>
    <li><a routerLink="/cursos-impartidos" id="menu-cursos-impartidos"><i class="fas fa-chalkboard-teacher"></i></a></li>
  </ul>
</nav>

<nav class="menu">
  <div id="navegacion" onclick="muestraMensaje();">
    <i class="fas fa-user fa-2x"></i>
  </div>
  <div id="navegacion">
    <i class="fas fa-bell fa-2x"></i>
  </div>
  <div id="navegacion">
    <i class="fas fa-th-large fa-2x"></i>
  </div>
  <div id="navegacion">
    <i class="fas fa-search fa-2x"></i>
  </div>
  <div id="navegacion" (click)="exportarExcel()">
    <i class="fas fa-file-excel fa-2x"></i>
  </div>
  <div id="navegacion" class="col-sm-2">
    <input class="form-control" type="text" placeholder="Búsqueda" aria-label="Search" id="busqueda">
  </div>
</nav>