:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: .75rem;
}

.alineacion-vertical {
  min-height: 100%;  /* Se utiliza con browsers que no soportan la unidad vh */
  min-height: 100vh; /* Con esto se mueve al centro*/
  display: flex;
  align-items: center;
}

.fondo {
  background: rgb(27, 57, 106);
  height: 100vh;
  overflow-y: hidden;
}

.card-login {
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.card-signin {
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.card-login .card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
}

.card-signin .card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
}

.card-login .card-img-left {
  width: 45%;
  /* El enlace a la imagen de fondo debe estar aquí 
  Photo by Andreas Dress on Unsplash */
  background: scroll center url('/../../assets/img/fondo-login.jpg');
  background-size: cover;
}

.card-signin .card-img-left {
  width: 45%;
  /* El enlace a la imagen de fondo debe estar aquí 
  Photo by Benjamin Behre on Unsplash */
  background: scroll center url('/../../assets/img/fondo-signin.jpg');
  background-size: cover;
}

.card-login .card-body {
  padding: 2rem;
  margin: 13.4vh 0;
}

.card-signin .card-body {
  padding: 2rem;
  margin: 10vh 0;
}

.form-signin {
  width: 100%;
}

.form-signin .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.2s;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group input {
  height: auto;
  border-radius: 2rem;
}

.form-label-group>input {
   padding: var(--input-padding-y) var(--input-padding-x);
   padding-left: 2%;
}

.form-label-group>label {
  padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group>label {
  position: absolute;
  top: 0;
  left: 2%;
  display: block;
  width: 100%;
  margin-bottom: 0;
  /* Con esto se cambia el tamaño por fedecto de los
  márgenes de un label */
  line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;

}

.form-label-group input::-ms-input-placeholder {
  color: transparent;

}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown)~label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}

.color-boton {
  background: rgb(27, 57, 106);
  border: rgb(27, 57, 106);
}

.color-texto {
  color: rgb(27, 57, 106);
}